<<<<<<< HEAD
.row {
    width: 100%;
}


=======
>>>>>>> 9106cc7489918d75e68c1f1802b0718c1dec8e6f
.example-icon {
    padding: 0 14px;
  }

  
.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    padding-left: 2%;    
    background-color: #007bff;
    color: white;
}

.searchContainer {
    height: 100%;
    margin-left: 2%;
    margin-top: 2%;
}

.patientsList {
    height: 100%;
    padding: 2%;
}

.container {
    max-width: 2100px;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
    position:  static;
}

.col-4 {
    padding-left: 2%;
    padding-top: 1%
}


.patLabel {
    width: 50;
}

.table-striped {
    overflow: hidden;
    white-space: nowrap;
    width: 800px;
}

.pageTitle {
        color: #007bff;
        font-size: 32px;
        margin-left: 2%;
}


