<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="body">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <span class="title">Patientendossieransicht</span>
      <span class="example-spacer"></span>
      <span class="link" (click)="navigateToHome()">zurück zum Dashboard</span>
      <mat-icon class="example-icon" (click)="navigateToHome()">home</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <h3 class="patName"> <u>  {{user.gender === 1 ? 'Frau' : 'Herr'}} {{ user.prefix }} {{ user.fname }} {{user.secfname}} {{ user.lname }}</u></h3>

  <div class="container">
    <div class="row">
      <div class="leftContainer">
        <form (ngSubmit)="processForm()">
          <!-- Titel bestimmt breite des div-containers!!! -->
          <h3 class="patName">Patientenangaben</h3>

          <br>
          <div class="form group">
            <label for="id">ID:</label>
            <label></label>
            {{ user.id}}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="id">Anrede: </label>
            <label></label>
            {{user.gender === 1 ? 'Frau' : 'Herr'}}
            {{ user.prefix }}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="fname">1. Vorname:</label>
            <a id="value">
              {{ user.fname }}
            </a>
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="secfname">2. Vorname:</label>
            <label></label>
            {{ user.secfname}}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>           
                  <label for="lname">Nachname:</label>
                  <label></label>
                  {{ user.lname }}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="bdate">Geburtsdatum:</label>
            {{ user.bdate}}
            <mat-divider></mat-divider>
          </div>
        </form>
      </div>
      <div class="rightContainer">
        <table class="tableRightContainer">
          <td>
            <h3 id="containerTitle">Dokumente</h3>
          </td>
          <td></td>
          <td>
            <input type="text" placeholder="Suchbegriff eingeben"> </td>
          <td></td>
          <td>
            <button class="btn btn-primary">erweiterte Suche</button>
          </td>
          <td>
            <button class="btn btn-primary">Dokument hochladen</button>
          </td>
        </table>
        <table class="tableRightContainer" >
          <thead>
            <th>Dokumenttitel</th>
            <th>Dokumenttyp</th>
            <th>Fachrichtung</th>
            <th>Instutition</th>
            <th>Authorenrolle</th>
            <th>Datum</th>
            <th>Aktionen</th>
          </thead>
              <!-- HealthProfessional Entries from DB -->
              
          <tbody>
            <tr *ngFor="let doc of documents" >
            <td>Bericht</td>
            <td>PDF</td>
            <td>as</td>
            <td>s</td>
            <td>s</td>
            <td>
             
              <a target ="_blank"  href="{{doc.doc_Url}}">einsehen</a>           
            </td>
            <td>
                <a target ="_blank"  href="{{doc.doc_Url}}" download><button class="btn btn-primary">herunterladen</button></a>
            </td>
          </tr>
          </tbody>     
         </table>
      </div>
    </div>
    <div class="row">
      <div class="leftContainer" id="downContainer">
        <form (ngSubmit)="processForm()">
          <!-- Titel bestimmt breite des div-containers!!! -->
          <h3 id="containerTitle">Berechtigungen delegieren</h3>
          <br>
          <div class="form group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="GLN Nummer" value="">
            </mat-form-field>
          </div> 

          <div class="form group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" value="">
            </mat-form-field>

          </div>

          <div class="form group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Vorname" value="">
            </mat-form-field>

          </div>
          <div class="form group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fachrichtung" value="">
            </mat-form-field>

          </div>

          <div class="form group col">
            <br>
            <button class="btn btn-primary btn-block" ng-click="showDetails = ! showDetails"> Gesundheitsfachperson suchen</button>
          </div>

        </form>


      </div>

      <div class="rightContainer" id="downContainer" ng-class="{ 'hidden': ! showDetails }">
        <table class="tableRightContainer">
          <td>
            <h3 id="containerTitle">Gesundheitsfachpersonen</h3>
          </td>
        </table>

        <table class="tableRightContainer">
          <thead>
            <th>GLN</th>
            <th>Prefix</th>
            <th>Nachname</th>
            <th>Type</th>
            <th>Gender</th>
            <th>Titel</th>
            <th>Fachrichtung</th>
            <th>Berufsausuebung</th>
            <th>Addresse</th>
            <th>Nation</th>
            <th>Language</th>
            <th>Email</th>
            </thead>

          <tbody>
            <!-- HealthProfessional Entries from DB -->
            <tr *ngFor="let healthProfessional of healthProfessionals">
              <td>{{healthProfessional.hp_Gln}}</td>
              <td>{{healthProfessional.hp_Prefix}}</td>
              <td>{{healthProfessional.hp_Fname}}</td> 
              <td>{{healthProfessional.hp_Lname}}</td>    
              <td>{{healthProfessional.hp_type}}</td> 
              <td>{{healthProfessional.hp_gender}}</td>
              <td>{{healthProfessional.hp_title}}</td>    
              <td>{{healthProfessional.hp_fach}}</td>
              <td>{{healthProfessional.hp_beruf}}</td>
              <td>{{healthProfessional.hp_addr}}</td>
              <td>{{healthProfessional.hp_nation}}</td>
              <td>{{healthProfessional.hp_language}}</td>
              <td>{{healthProfessional.hp_email}}</td>
           </tr>
          </tbody>
        </table>
        <button class="btn btn-primary"> Änderungen speichern</button>
      </div>
      <pre lang="xml">{{document}}</pre>
    </div>
  </div>
</div>