<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="body">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <span>Patientendossieransicht</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" (click)="navigateToHome()">home</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <h3 class="patName"> {{ user.prefix }} {{ user.fname }} {{ user.lname }}</h3>



  <div class="container">
    <div class="row">
      <div class="patInfoContainer">
        <form (ngSubmit)="processForm()">
          <h3> Patientenangaben</h3>

          <br>
          <div class="form group">
            <label for="id">ID:</label>
            <label></label>
            {{ user.id}}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="id">Prefix: </label>
            <label></label>
            {{ user.prefix }}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="fname">First Name:</label>
            <a id="value">
              {{ user.fname }}
            </a>
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="secfname">Second Name:</label>
            <label></label>
            {{ user.secfname}}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <table>
              <tr>
                <td>
            <label for="lname">Last Name:</label>
          </td>
          <td style=" align: right;">
            <label></label>
            {{ user.lname }}
          </td>
          </tr>
          </table>
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="gender">Gender:</label>
            {{ user.gender}}
            <mat-divider></mat-divider>
          </div>

          <div class="form group">
            <br>
            <label for="bdate">Birthdate:</label>
            {{ user.bdate}}
            <mat-divider></mat-divider>
          </div>
        </form>
      </div>
      <div class="patDocumentContainer">
        <table>
          <td>
            <h3>Dokumente</h3>
          </td>
          <td></td>
          <td>
            <input type="text" placeholder="Suchbegriff eingeben"> </td>
          <td></td>
          <td>
            <button class="btn btn-primary"> erweiterte Suche </button>
          </td>
          <td>
            <button class="btn btn-primary"> Dokument hochladen </button>
          </td>
          </table>
          <table class="table table-striped">
            <thead>
              <th>Dokumenttitel</th>
              <th>Dokumenttyp</th>
              <th>Fachrichtung</th>
              <th>Instutition</th>
              <th>Rolle des Authors</th>
              <th>Aktionen</th>
            </thead>         
          </table>

      </div>
    </div>
  </div>
</div>