
body {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
}

.mat-toolbar {
    padding-left: 0%;    
    background-color: #007bff;
    color: white;
    
}

.gridPatDossier {
    margin-top: 20px;
}

.container {
    margin-top: 2%;
}


.leftContainer {
    width: 20%;
}

#downContainer {
    margin-top: 5%;
}

h3 {
    font-size: medium;
    font-style: bold;
}

.rightContainer {
    width: 70%;
    margin-left: 5%;
    transition: .5s;
    overflow: hidden;
}

.rightContainer.hidden {
    height: 0px;
}

.tableRightContainer {
    width: 100%;
}

  .patInformation {
     margin-left: 5%;
     width: 80%;
  }


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
 
.example-full-width {
    width: 100%;
}

.patName {
    color: #007bff;
    font-size: 32px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .patDocumentContainer {
      margin-left: 5%;
  }