
body {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.mat-toolbar {
    padding-left: 0%;    
    background-color: #007bff;
    color: white;    
}

.gridPatDossier {
    margin-top: 20px;
}

.container {
    margin-top: 2%;
    margin-left: 3%;
    width: 100%;
}

.row {
    width: 100%;
}


.leftContainer {
    width: 20%;
}

#downContainer {
    margin-top: 5%;
}

h3 {
    font-size: medium;
    font-style: bold;
}

.rightContainer {
    width: 75%;
    margin-left: 5%;
    transition: .5s;
    overflow: hidden;
}

.rightContainer.hidden {
    height: 0px;
}

.tableRightContainer {
    width: 100%;
}

.patInformation {
     margin-left: 2%;
     width: 80%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
 
.example-full-width {
    width: 100%;
}

.example-icon {
    margin-left: 1%;
}

.link {
    font-size: 12px;
}

.patName {
    color: black;
    font-size: 32px;
    margin-left: 2%;
}

.example-spacer {
    flex: 1 1 auto;
}

.patDocumentContainer {
      margin-left: 5%;
}

.title {
    margin-left: 2%;
}

u {
    text-decoration-line: underline;
    text-decoration-color: #007bff;
}


